name: Update Hackatime Stats

on:
  schedule:
    - cron: "0 0 * * *"
    - cron: "30 18 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    name: Update README with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.HACKATIME_API_KEY }}
          WAKATIME_API_URL: ${{ secrets.HACKATIME_API_URL }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
